form{
    background-color: rgba(0, 0, 255, 0.158);
    margin-top: 10%;
    margin-left: 30%;
    border: 2px solid white;
    max-width: 500px;
    padding: 3%;
    border-radius: 10px;
  
}
label{
    display: block;
    font-size: 30px;
    margin-top: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: khaki;
   
    
    
}
input{
    width: 100%;
    padding: 10px;
    margin-top: 3%;
    font-size: 20px;
    background-color: rgba(105, 105, 105, 0.342);
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    
   
}
input[type="submit"]:hover{
    background-color: rgba(137, 43, 226, 0.507);
}
input[type="submit"]{

        background-color: rgba(255, 228, 196, 0.171);
        color: khaki;
        padding: 10px;
        border: 2px solid rgba(0, 0, 0, 0.425);
        cursor: pointer;
        font-size: 30px;
        width: 530px;
        border-radius: 10px;
        font-family: 'Times New Roman', Times, serif;
        
    
       

}
body{
    background-image: url(../asserts/img2.jpg);
    background-repeat: no-repeat;
}
h1{
    text-align: center;
    font-family: sans-serif;
    
}
